 <div class="section-to-do-list">
        <div class="form-to-do-list">
            <form action="/createTask" method="post">
                <label for="title">Título:</label>
                <input type="text" name="title" class="title">
                <input type="submit" value="Criar" class="submit">
            </form>
        </div>
    
        <div class="section-list">
            <div class="title-task">
                <h2>Minhas Tasks</h2>
            </div>
            <div class="list">
                {{#each task}}

                    {{#if done}}
                        <div class="task green">
    
                        <div class="edit-task">
                            <a href="/edit/{{this.id}}"><i class="bi bi-pencil-square"></i></a>
                        </div>
    
                        <p>{{this.title}}</p>
    
                        <div class="check-task">
                            <form action="/doneTask" method="post">
                                <input type="hidden" name="id" value="{{this.id}}">
                                <input type="hidden" name="done" value="{{this.done}}">
                                <button type="submit"><i class="bi bi-check2"></i></button>
                            </form>

                        </div>
    
                        <div class="trash-task">
                            <form action="/deleteTask" method="post">
                                <input type="hidden" name="id" value="{{this.id}}">
                                <button type="submit" class="submit-trash"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
    
                    </div>
                    {{else}}
                    <div class="task">
    
                        <div class="edit-task">
                            <a href="/edit/{{this.id}}"><i class="bi bi-pencil-square"></i></a>
                        </div>
    
                        <p>{{this.title}}</p>
    
                        <div class="check-task">
                            <form action="/doneTask" method="post">
                                <input type="hidden" name="id" value="{{this.id}}">
                                <input type="hidden" name="done" value="{{this.done}}">
                                <button type="submit"><i class="bi bi-check2"></i></button>
                            </form>

                        </div>
    
                        <div class="trash-task">
                            <form action="/deleteTask" method="post">
                                <input type="hidden" name="id" value="{{this.id}}">
                                <button type="submit" class="submit-trash"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
    
                    </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>